<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MainProject.Properties.Settings.QLDAConnectionString"
            connectionString="Data Source=LAPTOP-MUNBCLVL\SQLEXPRESS;Initial Catalog=QLDA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>